
*.session
*.session-journal
.env
.env.*
secret.json
config.json
credentials.json

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
.hypothesis/
cover/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~
.project
.pydevproject
.settings/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

docs/_build/
/site
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt